/* Styles for general containers */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh
}

.main-title {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.center-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.status-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #2196f3;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.loading-animation {
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


/* Styles for board */
.gomoku-board {
    position: relative;
    background-color: #dba65b;
    border: 2px solid #333;
    margin: 20px auto;
}

/* Draw grid lines */
.gomoku-board::before,
.gomoku-board::after {
    content: "";
    position: absolute;
}

.gomoku-board-intersection-center {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: black;    
}

.gomoku-board-intersection {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
}

/* shared styles for both vertical and horizontal lines */
.gomoku-board-intersection::before,
.gomoku-board-intersection::after {
    content: "";
    position: absolute;
    background-color: #333;
}

/* vertical line */
.gomoku-board-intersection::before {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* horizontal line */
.gomoku-board-intersection::after {
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Stones */
.stone {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.stone.black {
    background-color: black;
}

.stone.white {
    background-color: white;
    border: 1px solid #888;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}